<div ng-controller="mainCtrl" id="verification-container" layout="column" layout-align="top center" layout-fill>
    <div id="clock" layout='row' layout-align="center center">
        <svg style="padding: 0;" width="55" height="55">
            <filter id="drop-shadow" width="150%" height="150%">
                <feGaussianBlur in="SourceAlpha" stdDeviation="2" />
                <feOffset dx="2" dy="2" result="offsetblur" />
                <feFlood flood-color="#000000" />
                <feComposite in2="offsetblur" operator="in" />
                <feMerge>
                    <feMergeNode/>
                    <feMergeNode in="SourceGraphic" />
                </feMerge>
            </filter>
            <g filter="url(#drop-shadow)">
                <circle stroke="grey" stroke-width="3" cx="25" cy="25" r="23" fill="none"></circle>
                <line stroke="grey" stroke-width="3" x1="25" y1="25" x2="{{hx2}}" y2="{{hy2}}"></line>
                <line stroke="grey" stroke-width="3" x1="25" y1="25" x2="{{mx2}}" y2="{{my2}}"></line>
            </g>
        </svg>
        <h3 style="margin: 0">{{time | date : 'HH:mm'}}</h3>
    </div>
    <div style="width: 865px;position: relative; top: 10px" flex="none" layout="row" layout-align="left center">
        <div class="steps">
            <span ng-class="{'current-step': step == 1}" style="">第一階段認證<ng-md-icon icon="play_arrow"></ng-md-icon></span>
            <span ng-class="{'current-step': step == 2}" style="">第二階段認證<ng-md-icon icon="play_arrow"></ng-md-icon></span>
            <span ng-class="{'current-step': step == 3}" style="">確認資料<ng-md-icon icon="play_arrow"></ng-md-icon></span>
            <span ng-class="{'current-step': step == 4}" style="">完成報到</span>
        </div>
        <md-button class="circle-btn md-fab" style="border-color: black;">求助</md-button>
        <md-button class="circle-btn md-fab" style="border-color: black;" ui-sref="home"><span>離開</span></md-button>
    </div>
    <span flex="5"></span>
    <div flex="none" layout="column" ui-view id="main"></div>
    <div flex="none" style="width: 865px" layout="row">
        <div flex ng-show="step == 1" layout="row" layout-align="center center">
            <md-button flex class="md-raised tab" ui-sref="verification.ic-card">健保卡</md-button>
            <md-button flex class="md-raised tab" ui-sref="verification.id-card">身分證</md-button>
        </div>
        <div flex ng-show="step == 2" layout="row">
            <md-button flex class="tab" ui-sref="verification.face">臉部檢測</md-button>
            <md-button flex class="tab" ui-sref="verification.finger-print">指紋辨識</md-button>
        </div>
        <div flex ng-show="step == 3" layout="row">
            <md-button flex class="tab">確認資訊</md-button>
        </div>
        <div flex ng-show="step == 4" layout="row">
            <md-button flex class="tab" ui-sref="verification.sucess-info">看診資訊</md-button>
            <md-button flex class="tab" ui-sref="verification.sucess-place">診間位置</md-button>
        </div>
    </div>
    <img src="img/down.svg">
</div>
